h1{
    text-align: center;
    color: purple;
	font-size:45px;
}
p{
    color: blue;
    font-family: monospace;
    text-align: center;
	font-size:20px;
}
body{
    background-color: lightgreen;  
}
.wrapper{
	text-align: center;
}
.hidden{
	display: none;
	color: red;
}
.endcolors{
	color: #00ffcc;
	background-color: black;
	display: none;
	font-size:30px;

}

  
